<div th:fragment="footer">
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>about us</h3>
                <p>TravelAgain s-a angajat să ofere călătorilor cele mai bune aranjamente de călătorie de
                    calitate și valoare. Suntem pasionați de călătorii și de a oferi călătorilor servicii de
                    înaltă calitate pentru a le facilita nevoile de călătorie, de afaceri și a împărtăși minunile lumii
                    în ceea ce privește călătoriile de agrement.</p>
            </div>
            <div class="box">
                <h3>branch locations</h3>
                <a th:href="@{/#Europe}">Europe</a>
                <a th:href="@{/#America}">America</a>
                <a th:href="@{/#Asia}">Asia</a>
                <a th:href="@{/#Australia}">Australia</a>
                <a th:href="@{/#Africa}">Africa</a>
            </div>
<!--            <div class="box">-->
<!--                <h3>quick links</h3>-->
<!--                <a href="#">home</a>-->
<!--                <a href="#">book</a>-->
<!--                <a href="#">Europe</a>-->
<!--                <a href="#">services</a>-->
<!--                <a href="#">cities</a>-->
<!--                <a href="#">review</a>-->
<!--                &lt;!&ndash;                <a href="#">contact</a>&ndash;&gt;-->
<!--            </div>-->
            <div class="box">
                <h3>follow us</h3>
                <a>facebook</a>
                <a>instagram</a>
                <a>twitter</a>
                <a>linkedin</a>
            </div>

        </div>

        <h1 class="credit"> created by <span> Mitrea Teofil </span> | All rights reserved! </h1>

    </section>
</div>