<div th:fragment="navbar">
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
        <a th:href="@{/}" class="logo"><span>T</span>ravelAgain</a>
        <nav class="navbar">
            <a th:href="@{/#Home}">Home</a>
            <a th:href="@{/#Europe}">Europe</a>
            <a th:href="@{/#America}">America</a>
            <a th:href="@{/#Asia}">Asia</a>
            <a th:href="@{/#Australia}">Australia</a>
            <a th:href="@{/#Africa}">Africa</a>
            <a th:href="@{/#Review}">Review</a>
        </nav>
        <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="login-btn"></i>
        </div>
        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here...">
            <label for="search-bar" class="fas fa-search"></label>
        </form>
    </header>
</div>