<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Itinerary </h1>
            <div class="card-body">
                <form th:action="@{/itineraries}" th:object="${itinerary}" method="POST">
                    <div class="form-group">
                        <label> Number of days </label>
                        <input
                                type="text"
                                name="numberDays"
                                th:field="*{numberDays}"
                                class="form-control"
                                placeholder="Enter Itinerary number of Days"
                        />
                    </div>

                    <div class="form-group">
                        <label> Itinerary description </label>
                        <textarea name="description"
                                  th:field="*{description}"
                                  class="form-control"
                                  placeholder="Enter Itinerary description"
                                  rows ="10"
                        >

                        </textarea>
                    </div>

                    <div class="form-group">
                        <label> Itinerary price </label>
                        <input
                                type="text"
                                name="price"
                                th:field="*{price}"
                                class="form-control"
                                placeholder="Enter Itinerary price"
                        />
                    </div>

                    <div class="form-group">
                        <label> Itinerary guide name </label>
                        <input
                                type="text"
                                name="guideName"
                                th:field="*{guideName}"
                                class="form-control"
                                placeholder="Enter Itinerary guide name"
                        />
                    </div>

                    <div class="form-group">
                        <!--                        <label> Itinerary Picture </label>-->
                        <!--                        <input-->
                        <!--                                type="text"-->
                        <!--                                name="picture"-->
                        <!--                                th:field="*{picture}"-->
                        <!--                                class="form-control"-->
                        <!--                                placeholder="Choose an Itinerary picture"-->
                        <!--                        />-->

                        <label> Itinerary Picture </label>
                        <select name="cars">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>